In [12]:
import numpy as np
import pandas as pd
import os

df = pd.read_csv('t1_t15.csv',header=0,index_col=0)
df

,1,3,7,10,16,19,23,25,29,31,...,41,45,49,62,68,70,76,78,82,88
IncV3/t2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0

In [13]:
# dfaa = pd.DataFrame([], columns=[1, 3, 7, 10, 16, 19, 23, 25, 29, 31, 37, 41, 45, 49, 62, 68, 70, 76, 78, 82, 88])
aa=[1, 3, 7, 10, 16, 19, 23, 25, 29, 31, 37, 41, 45, 49, 62, 68, 70, 76, 78, 82, 88]
df.loc[os.path.join('mm', 't')] = aa
df

,1,3,7,10,16,19,23,25,29,31,...,41,45,49,62,68,70,76,78,82,88
IncV3/t2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
mm/t,1.0,3.0,7.0,10.0,16.0,19.0,23.0,25.0,29.0,31.0,...,41.0,45.0,49.0,62.0,68.0,70.0,76.0,78.0,82.0,88.0